<div class="top-bar d-flex justify-content-between align-items-center">
  <img class="img-fluid" src="images/logo.png" alt="" />
  <button
    class="filter-button d-flex align-items-center"
    data-bs-toggle="dropdown"
  >
    <span class="material-symbols-rounded me-1"> tune </span>Filters
  </button>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
    @for (button of buttons; track $index) {
    <li>
      <a class="dropdown-item d-flex align-items-center" href="#">
        <span class="material-symbols-rounded me-2">{{ button.icon }}</span
        >{{ button.label }}</a
      >
    </li>
    }
  </ul>
</div>
<div class="container-fluid p-5">
  <div class="section mb-5">
    <div class="row mb-3">
      <div class="col"><h3 class="section-title">Folders</h3></div>
    </div>
    <div class="d-grid card-grid">
      @for (post of posts; track $index) {
      <app-folder [post]="post"></app-folder>
      }
    </div>
  </div>
  <div class="section">
    <div class="row mb-3">
      <div class="col">
        <h3 class="section-title">Recently uploaded files</h3>
      </div>
    </div>
    <div class="d-grid card-grid">
      @for (album of albums; track $index) {
      <app-file [album]="album"></app-file>
      }
    </div>
  </div>
</div>
